#aboutusvid{
    opacity: 1;
    width: 100%;
    margin-top: -15px;
    height: 140%;
}

@font-face {
    font-family: 'sequel 85';
    src: url('Sequel100Black-85.ttf');
    font-weight: normal;
    font-style: normal;
}

.aboutus #sunriseabout {
    font-family: 'sequel 85';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 6px black;
}
.aboutus #scrollimg {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90px;
    cursor: pointer;
}

.card-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
    
}
.card-aboutus{
    text-align: center;
    padding: 50px;
    margin-top: 5px;
    border: none;
    width: 40%;
    border-radius:none;
    height: 600px;

}

.card-aboutus img{
    width: 90px;
    margin-left: 140px;
    
}
.card-aboutus h3{
    font-size: 18px; 
    font-family: "helvetica";
    font-weight: 500; 
    margin-top: 80px; 
}
.card-aboutus h2{
    font-family: "sequel 85";
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#doctor h1{
    font-family: "sequel 85";
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 26px;
    margin-left:400px;
    
}
#doctor img{
    margin-left:50px;
}
#doctor-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.doctor-card{
    padding: 30px;
}
.doctor-card img{
    width: 90px;
}
.doctor-card h3{
    padding-left: 100px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}
#gallery #background{
    width: 100%;
    margin-top: -23px;
}

#gallery {
    position: relative;
}
#gallery-img {
    position: absolute;
    top: 0;
    left: 0;
}
  
  #gallery-img img {
    position: relative;
    display: block;
    width: 26%;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 50px;
  }
  .staff-container >h1{
      text-align: center;
      font-family: "sequel 85";
       margin-bottom: 50px;
      
  }
.staff-row {
    border-bottom: 1px solid lightgrey;
    height: 240px;
    padding: 20px;
    margin-left:60px;
    margin-right:60px;
}
.staff-row:hover {
    box-shadow: -5px 0px 5px -2px lightgrey, 5px 0px 5px -2px lightgrey, 0px 10px 10px -5px lightgrey;
 }
.staff-image img{
      width:200px;
      border-radius: 100%;
      margin-right: 100px;
}
.movingNumbers img{
      width:100%;
}
.movingNumbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.statisticicons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.statisticrow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left:0px;
    margin-top:50px;
    flex-direction:column;
}

.statisticrow img {
    width: 40%;
}
.moving-numbers {
    font-family: "sequel 85";
    margin-top:20px;
    font-size:30px;
}
.statisticrow h5{
    font-family:"sequel 85";
}
.statisticrow #firstStatisticHeading{
    margin-top:-25px;
}

  
  
  