body {
    background-color: white;
}
video {
    margin-top: -1%;
    width: 100%;
    height: 50rem;
    z-index: -1;
    filter: brightness(60%);
    opacity: 0.7;
    object-fit: fill;
    padding: 0px;
}

.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit:fill;
}
.home-container > h1{
    margin-top:-420px;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

span {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(rgb(175, 226, 243),rgb(175, 226, 243));
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
}

    span:hover {
        background-size: 100% 100%;
        background-position: 0% 100%;
        transition: background-position .7s, background-size .5s ease-in-out;
    }
    .home-container > p{
        font-size:27px;
       color:white;
       font-family:SansSerif;
    }

.body-card {
    position: absolute;
    margin-top: 2.1%;
    width:100%;
  
}
.container-home {
    display: flex;
    flex-wrap: wrap;
    
    overflow-y: hidden;
}

.card-home {
    position: relative;
    padding:0%;
   
    width: 25%;
    height: 26vw;
    transition: 0.3s ease-out;
}

.card-home .imgbox{
    position:relative;
  
    width:100%;
    height:100%;
}
.card-home .imgbox img{
    width:100%;
    height:100%;

    display:block;
    transition:0.5s;
}
    .card-home .content-home {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        padding: 12px;
        background: rgb(175, 226, 243);
        transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
        box-sizing: border-box;
        overflow: hidden;
        color: black;
    }
    .card-home:hover .content-home{
        width:100%;
        height:75%;
        left:0;
        bottom:0;
        opacity:0.9;

    }
    .content-home p{
        margin:10px 0 0;
        padding: 1em 1em;
        transform:translateY(2em);
        line-height:1.3em;
        transition:0.3s;
        text-align:justify;
      
    }
.card-home:hover .content-home p{
    transform:translateY(0);
   
}

.content-home h2{
    text-align:center;
}
.card-home:hover{
    box-shadow: 0 0 5em rgba(0,0,0,0.4);
}

.all-buttons {
    text-align: center;
    margin-top: 28%;
    margin-left: -18%;
}
.container-button {
    width: 160px;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-inline-start:190px;
    
    cursor: pointer;
    display: inline-block;
}
.button-1 {
    padding-top:30px;
    background-color: transparent;
    border: 4px solid white;
    color: navy;
    transition:0.3s ease-out;
    box-sizing:content-box;
    height:60px;
    width:230px;
}

    .button-1:hover {
        box-shadow:0 0 5em rgb(175, 226, 243);
    }
